# Compiled programs:
# fnv_t map_t ssearch_t str_t are SCRIPTS oops
*_[tx]
concurs
gai
realpath
stress
# intermediate files:
*.[adios]
# Test byproducts:
*.fail
*.pass
88.tab
osho.txt
# Temp files :
*.swp
*.tmp
frog
toad
newt
bufo
rana
sapo
words
